docs/n8n-github-workflow.json
{
  "name": "GitHub Issue Creator from ENGIE Tasks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-issue-creator",
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "github-issue-creator"
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "={{$json[\"metadata\"][\"repository\"].split('/')[0]}}",
        "repository": "={{$json[\"metadata\"][\"repository\"].split('/')[1]}}",
        "title": "={{$json[\"task\"][\"title\"]}}",
        "body": "## Description\n{{$json[\"task\"][\"description\"]}}\n\n## Details\n{{$json[\"task\"][\"details\"]}}\n\n## Test Strategy\n{{$json[\"task\"][\"testStrategy\"]}}\n\n---\n*Created by ENGIE Task Management System*\n\n- **Task ID**: {{$json[\"task\"][\"id\"]}}\n- **Priority**: {{$json[\"task\"][\"priority\"]}}\n- **Status**: {{$json[\"task\"][\"status\"]}}\n- **Created**: {{$json[\"task\"][\"createdAt\"]}}",
        "labels": "={{$json[\"metadata\"][\"labels\"].join(',')}}"
      },
      "id": "github-create-issue",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "githubApi": {
          "id": "1",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "success",
              "value": true
            }
          ],
          "string": [
            {
              "name": "issueUrl",
              "value": "={{$node[\"GitHub\"].json[\"html_url\"]}}"
            }
          ],
          "number": [
            {
              "name": "issueNumber",
              "value": "={{$node[\"GitHub\"].json[\"number\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "success",
              "value": false
            }
          ],
          "string": [
            {
              "name": "error",
              "value": "={{$node[\"GitHub\"].error.message}}"
            }
          ]
        },
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [650, 450]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 350]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-03T00:00:00.000Z",
  "versionId": "1"
}